<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>{{ companyInfo['COMPANY_NAME_'+locale] }}</title>
  <meta name="keywords" content="{{ companyInfo['COMPANY_NAME_'+locale] }}">
  <meta name="description" content="{{ companyInfo['COMPANY_NAME_'+locale] }}">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="shortcut icon" href="favicon.ico">

  <!-- include main css -->
  <link rel="stylesheet" type="text/css" href="static/css/slick.css" />
  <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="static/css/jquery.mmenu.all.css" />
  <link rel="stylesheet" type="text/css" href="static/css/style.css" />
  <link rel="stylesheet" href="static/css/animates.css" />

</head>

<body>

  <div>
    <!--header-->
    <header class="header">
      <section class="container">
        <a href="#mmenu" class="phone-nav glyphicon glyphicon-list"></a>
      </section>
      <div class="logo">
        <div class="container clearfix">
          <a href="index.html" class="pull-left logoa"><img style="height: 80px" src="static/images/logo.png"
              alt="" /></a>
          <div class="Language pull-right">
            {% if locale == 'CN' %}
            <a class="cn active" data="CN" href="javascript:;">中文</a>
            <a class="en" data="EN" href="javascript:;">English</a>
            {% endif %}
            {% if locale == 'EN' %}
            <a class="cn " data="CN" href="javascript:;">中文</a>
            <a class="en active" data="EN" href="javascript:;">English</a>
            {% endif %}

          </div>
        </div>
      </div>
      <nav class="nav">
        <ul class="container clearfix nva-ul">
          <li class={{'active' if menuType==='index' else ''}}> <a onclick="changeMenu('index.html','index')"
              href="javascript:;">{{columnTitle.home}}</a>
          </li>
          <li class={{'active' if menuType==='about' else ''}}><a href="javascript:;"
              onclick="changeMenu('about.html','about')">{{columnTitle.aboutUS}}</a>
            <ul>
              <li><a href="about.html">{{columnTitle.companyProfile}}</a></li>
              <li><a href="honor.html">{{columnTitle.cultureculture}}</a></li>
              <li><a href="culture.html">{{columnTitle.culture}}</a></li>
            </ul>
          </li>
          <li class={{'active' if menuType==='pro' else ''}}><a href="javascript:;"
              onclick="changeMenu('pro.html','pro')">{{columnTitle.productCenter}}</a>
          </li>
          <li class={{'active' if menuType==='news' else ''}}><a href="javascript:;"
              onclick="changeMenu('news.html','news')">{{columnTitle.news}}</a>
            <ul>
              <li><a href="news.html">{{columnTitle.companyNew}}</a></li>
              <li><a href="news_industry.html">{{columnTitle.tradeNews}}</a></li>
            </ul>
          </li>
          <li class={{'active' if menuType==='produce' else ''}}><a href="javascript:;"
              onclick="changeMenu('produce.html','produce')">{{columnTitle.device}}</a>
          </li>
          <li class={{'active' if menuType==='contact' else ''}}><a href="javascript:;"
              onclick="changeMenu('contact.html','contact')">{{columnTitle.contact}}</a>
            <ul>
              <li><a href="contact.html">{{columnTitle.contactWay}}</a></li>
              <li><a href="contact.html#message">{{columnTitle.onlineMessage}}</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>

    {% block main %}
    {% endblock %}

    <!--底部开始-->
    <div class="footer-logo">
      <div class="container">
        <a href="index.html"><img style="height: 80px" src="static/images/logo.png" alt="" /></a>
        <span>{{columnTitle.phone}}：<b>{{companyInfo.PHONE}}</b></span>
      </div>
    </div>

    <!--底部导航-->
    <div class="footernav">
      <div class="container">
        <dl>
          <dt><a href="index.html">{{columnTitle.home}}</a></dt>
          <dd><a href="about.html">{{columnTitle.aboutUS}}</a></dd>
          <dd><a href="about.html">{{columnTitle.companyProfile}}</a></dd>
          <dd><a href="honor.html">{{columnTitle.cultureculture}}</a></dd>
          <dd><a href="culture.html">{{columnTitle.culture}}</a></dd>
        </dl>
        <dl>
          <dt><a href="pro.html">{{columnTitle.productCenter}}</a></dt>
        </dl>
        <dl>
          <dt><a href="news.html">{{columnTitle.news}}</a></dt>
          <dd><a href="news.html">{{columnTitle.companyNew}}</a></dd>
          <dd><a href="news.html">{{columnTitle.tradeNews}}</a></dd>
        </dl>
        <dl>
          <dt><a href="produce.html">{{columnTitle.device}}</a></dt>
        </dl>
        <dl>
          <dt><a href="contact.html">{{columnTitle.contact}}</a></dt>
          <dd><a href="contact.html">{{columnTitle.contactWay}}</a></dd>
          <dd><a href="contact.html#message">{{columnTitle.onlineMessage}}</a></dd>
        </dl>
      </div>
    </div>


    <!--底部版权-->
    <div class="copy">
      <div class="container">
        Copyright(c)2019-2010 {{ companyInfo['COMPANY_NAME_'+locale] }}
        <img src="static/images/yu.png" alt="" />
        <div class="ferweima">
          <!-- <img src="static/images/fewm.jpg" alt="" /> -->
          <div class="ewmwrap pic slideDown">
            <!-- <img class="vcenter" src="static/images/erweima.jpg" alt="" /> -->
          </div>
        </div>
      </div>
    </div>

    <!--移动端  Mmenu-->
    <nav id="mmenu">
      <ul>
        <li><a href="#">EN</a></li>
        <li><a href="index.html">首 页</a></li>
        <li><a href="about.html">关于我们</a>
          <ul>
            <li><a href="about.html">公司简介</a></li>
            <li><a href="honor.html">资质荣誉</a></li>
            <li><a href="culture.html">企业文化</a></li>
          </ul>
        </li>
        <li><a href="pro.html">产品中心</a>
          <ul>
            <li><a href="pro.html">底部固定型</a>
              <ul>
                <li><a href="pro.html">底部固定型</a></li>
                <li><a href="pro.html">端部固定型</a></li>
                <li><a href="pro.html">可交换型</a></li>
                <li><a href="pro.html">履带型</a></li>
              </ul>
            </li>
            <li><a href="pro.html">端部固定型</a>
              <ul>
                <li><a href="pro.html">底部固定型</a></li>
                <li><a href="pro.html">端部固定型</a></li>
                <li><a href="pro.html">可交换型</a></li>
                <li><a href="pro.html">履带型</a></li>
              </ul>
            </li>
            <li><a href="pro.html">可交换型</a>
              <ul>
                <li><a href="pro.html">底部固定型</a></li>
                <li><a href="pro.html">端部固定型</a></li>
                <li><a href="pro.html">可交换型</a></li>
                <li><a href="pro.html">履带型</a></li>
              </ul>
            </li>
            <li><a href="pro.html">履带型</a>
              <ul>
                <li><a href="pro.html">底部固定型</a></li>
                <li><a href="pro.html">端部固定型</a></li>
                <li><a href="pro.html">可交换型</a></li>
                <li><a href="pro.html">履带型</a></li>
              </ul>
            </li>

          </ul>
        </li>
        <li><a href="news.html">新闻动态</a>
          <ul>
            <li><a href="news.html">公司新闻</a></li>
            <li><a href="news.html">行业新闻</a></li>
            <li><a href="news.html">媒体报道</a></li>
          </ul>
        </li>
        <li><a href="produce.html">生产设备</a>
          <ul>
            <li><a href="produce.html">生产设备</a></li>
            <li><a href="produce.html">生产设备</a></li>
            <li><a href="produce.html">生产设备</a></li>
          </ul>
        </li>
        <li><a href="contact.html">联系我们</a>
          <ul>
            <li><a href="contact.html">联系方式</a></li>
            <li><a href="contact.html#message">在线留言</a></li>
          </ul>
        </li>
      </ul>
    </nav>

  </div>

  <!--Include Js-->
  <!-- <script src="static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script> -->
  <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>

  <!--移动端导航-->
  <script src="static/js/jquery.mmenu.all.min.js" type="text/javascript" charset="utf-8"></script>

  <script src="static/js/public.js" type="text/javascript" charset="utf-8"></script>

  <!--slick-->
  <script src="static/js/slick.min.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript">
    $(function () {
      $('.banner').slick({
        dots: true,
        autoplay: true,
        arrows: false,
        autoplaySpeed: 3000,
      });
    });
  </script>

  <!--placeholder-->
  <script src="static/js/jquery.placeholder.min.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript">
    $(function () {
      $('input, textarea').placeholder();
      $('.Language a').click(function (e) {
        const lan = $(this).attr('data');
        $.post(`http://${window.location.host}/index/switchLanguage`, {
          lan: lan
        }, function (result) {
          location.reload();
        });
      });
    });

    function changeMenu(url, type) {
      $.post(`http://${window.location.host}/index/changeMenuType`, {
        type: type
      }, function (result) {
        window.location.href = `http://${window.location.host}/${url}`;
      });
    }
  </script>

  <!--<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->

</body>

</html>