{% extends 'base.html' %}
{% block main %}
	<!--banner-->
	<section class="banner">
    <img src="static/images/aboutbanner.jpg" alt="" />
 </section>
 
 <!--内页面包屑-->
 <!-- <div class="mbx">
   <div class="container">
     您当前的位置：
     <a href="index.html">首页</a> > 
     <a href="about.html">关于我们</a> > 
     <span>公司简介</span>
   </div>
 </div> -->
 <div class="ny">
   <div class="inptit">
     <span><em>{{columnTitle.cultureculture}}</em></span>
   </div>
   <div class="about">
     <div class="container">
       {{info[locale+'_CONTENT']}}
     </div>
   </div>
 </div>
 
 
 

{% endblock %}