{% extends 'base.html' %}
{% block main %}
	<!--banner-->
	<section class="banner">
    <img src="static/images/probanner.jpg" alt="" />
 </section>
 
 <!--内页面包屑-->
 <!-- <div class="mbx">
   <div class="container">
     您当前的位置：
     <a href="index.html">首页</a> > 
     <a href="about.html">关于我们</a> > 
     <span>公司简介</span>
   </div>
 </div> -->

 <div class="ny">
		
  <div class="pro">
    <div class="container">
      <ul class="clearfix">
        <li>
          <div class="pic"><a href="pro_show.html"><img class="vcenter" src="static/images/inp1.jpg" alt="" /></a></div>
          <a href="pro_show.html" class="protita">
            宾馆酒店铺地材料
          </a>
        </li>
        <li>
          <div class="pic"><a href="pro_show.html"><img class="vcenter" src="static/images/inp2.jpg" alt="" /></a></div>
          <a href="pro_show.html" class="protita">
            阴阳离子交换树脂
          </a>
        </li>
        <li>
          <div class="pic"><a href="pro_show.html"><img class="vcenter" src="static/images/inp3.jpg" alt="" /></a></div>
          <a href="pro_show.html" class="protita">
            挤塑聚苯乙烯保温板
          </a>
        </li>
        <li>
          <div class="pic"><a href="pro_show.html"><img class="vcenter" src="static/images/inp4.jpg" alt="" /></a></div>
          <a href="pro_show.html" class="protita">
            FOG热压硅胶皮
          </a>
        </li>
        <li>
          <div class="pic"><a href="pro_show.html"><img class="vcenter" src="static/images/inp1.jpg" alt="" /></a></div>
          <a href="pro_show.html" class="protita">
            宾馆酒店铺地材料
          </a>
        </li>
        <li>
          <div class="pic"><a href="pro_show.html"><img class="vcenter" src="static/images/inp2.jpg" alt="" /></a></div>
          <a href="pro_show.html" class="protita">
            阴阳离子交换树脂 
          </a>
        </li>
        <li>
          <div class="pic"><a href="pro_show.html"><img class="vcenter" src="static/images/inp3.jpg" alt="" /></a></div>
          <a href="pro_show.html" class="protita">
            挤塑聚苯乙烯保温板
          </a>
        </li>
        <li>
          <div class="pic"><a href="pro_show.html"><img class="vcenter" src="static/images/inp4.jpg" alt="" /></a></div>
          <a href="pro_show.html" class="protita">
            FOG热压硅胶皮
          </a>
        </li>
        <li>
          <div class="pic"><a href="pro_show.html"><img class="vcenter" src="static/images/inp1.jpg" alt="" /></a></div>
          <a href="pro_show.html" class="protita">
            宾馆酒店铺地材料
          </a>
        </li>
        <li>
          <div class="pic"><a href="pro_show.html"><img class="vcenter" src="static/images/inp2.jpg" alt="" /></a></div>
          <a href="pro_show.html" class="protita">
            阴阳离子交换树脂
          </a>
        </li>
        <li>
          <div class="pic"><a href="pro_show.html"><img class="vcenter" src="static/images/inp3.jpg" alt="" /></a></div>
          <a href="pro_show.html" class="protita">
            挤塑聚苯乙烯保温板
          </a>
        </li>
        <li>
          <div class="pic"><a href="pro_show.html"><img class="vcenter" src="static/images/inp4.jpg" alt="" /></a></div>
          <a href="pro_show.html" class="protita">
            FOG热压硅胶皮
          </a>
        </li>
      </ul>
      <div class="page">
        <a href="#">首页</a>
        <a class="prev" href="#">上一页</a>
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">7</a>
        <a href="#">8</a>
        <a href="#">9</a>
        <a class="next" href="#">下一页</a>
        <a href="#">尾页</a>
      </div>
    </div>
  </div>
</div>

 
 

{% endblock %}