{% extends 'base.html' %}
{% block main %}
	<!--banner-->
	<!--banner-->
	<section class="banner">
    <img src="static/images/probanner.jpg" alt="" />
 </section>
 
 
 <div class="ny">
   
   <div class="pro_show">
     <div class="container">
       <div class="pshowtit">
         {{info['TITLE_'+locale]}}
       </div>
       <div class="procon">
          <div class="proimg clearfix">
              <div class="big">
                  <ul>
                     {% for item in info.IMGS.split(',') %}
                        <li><img class="vcenter" src={{item}} alt="" /></li>

                    {% endfor %}

                  </ul>
                </div>
                <div class="small">
                    {% for item in info.IMGS.split(',') %}
                    <span><img class="vcenter" src={{item}} alt="" /></span>
                {% endfor %}
                  
                 </div>
            </div>
   
         <div class="parameter">
           <div class="protit">
             <span>{{columnTitle.product_detail}}</span>
           </div>
           {{info['CONTENT_'+locale]}}
         </div>
       </div>
       
     </div>
     
   </div>
 </div>

 
 

{% endblock %}