{% extends 'base.html' %}
{% block main %}
	<!--banner-->
	<!--banner-->
	<section class="banner">
    <img src="static/images/probanner.jpg" alt="" />
 </section>
 
 <!--内页面包屑-->
 <!-- <div class="mbx">
   <div class="container">
     您当前的位置：
     <a href="index.html">首页</a> > 
     <span>产品中心</span>
   </div>
 </div> -->
 <div class="ny">
   
   <div class="pro_show">
     <div class="container">
       <div class="pshowtit">
         挤塑聚苯乙烯保温板
         <span>整合数字资源,技术驱动营销</span>
       </div>
       <div class="procon">
         <div class="proimg clearfix">
           <div class="big">
             <ul>
               <li><img class="vcenter" src="static/images/big1.jpg" alt="" /></li>
               <li><img class="vcenter" src="static/images/big1.jpg" alt="" /></li>
               <li><img class="vcenter" src="static/images/big1.jpg" alt="" /></li>
               <li><img class="vcenter" src="static/images/big1.jpg" alt="" /></li>
               <li><img class="vcenter" src="static/images/big1.jpg" alt="" /></li>
               <li><img class="vcenter" src="static/images/big1.jpg" alt="" /></li>
               <li><img class="vcenter" src="static/images/big1.jpg" alt="" /></li>
             </ul>
           </div>
           <div class="small">
             <span><img class="vcenter" src="static/images/small1.jpg" alt="" /></span>
             <span><img class="vcenter" src="static/images/small1.jpg" alt="" /></span>
             <span><img class="vcenter" src="static/images/small1.jpg" alt="" /></span>
             <span><img class="vcenter" src="static/images/small1.jpg" alt="" /></span>
             <span><img class="vcenter" src="static/images/small1.jpg" alt="" /></span>
             <span><img class="vcenter" src="static/images/small1.jpg" alt="" /></span>
             <span><img class="vcenter" src="static/images/small1.jpg" alt="" /></span>
           </div>
         </div>
         <div class="detailed_pro">
           <div class="protit">
             <span>产品详细</span>
           </div>
           <table>
             <tr>
               <td>Measurement feature</td>
               <td>Accurate measurement of small flowrate</td>
             </tr>
             <tr>
               <td>Measurement range</td>
               <td>1:1000</td>
             </tr>
             <tr>
               <td>Measurable water</td>
               <td>City water,plant water,agricultural water*1</td>
             </tr>
             <tr>
               <td>Meter connection method</td>
               <td>Flange(JWWA standard)type</td>
             </tr>
             <tr>
               <td>Body material</td>
               <td>Cast stainless steel</td>
             </tr>
             <tr>
               <td>Flow path</td>
               <td>Cone structure</td>
             </tr>
           </table>
         </div>
         <div class="parameter">
           <div class="protit">
             <span>产品参数</span>
           </div>
           <p>在科技创新领域，唯星集团分别与复旦大学、上海大学、华师大等知名院校达成战略伙伴关系，分别成立了云计算、大数据、智能营销等不同领域的产学研合作平台。2015年6月，唯星在美国硅谷成立研发中心，开拓海外科研基地；自成立至今唯星集团已取得60个软件著作权及1项发明专利；同时，经过多年在技术创新领域的探索与积累，唯星集团目前已获得虹口区科技小巨人企业、高新技术企业、双软认证企业、院士专家工作站、上海名牌企业等多项荣誉资质称号。</p>
           <p>在科技创新领域，唯星集团分别与复旦大学、上海大学、华师大等知名院校达成战略伙伴关系，分别成立了云计算、大数据、智能营销等不同领域的产学研合作平台。2015年6月，唯星在美国硅谷成立研发中心，开拓海外科研基地；自成立至今唯星集团已取得60个软件著作权及1项发明专利；同时，经过多年在技术创新领域的探索与积累，唯星集团目前已获得虹口区科技小巨人企业、高新技术企业、双软认证企业、院士专家工作站、上海名牌企业等多项荣誉资质称号。</p>
         </div>
       </div>
       
     </div>
     
   </div>
 </div>

 
 

{% endblock %}