{% extends 'base.html' %}
{% block main %}
	<!--banner-->
	<section class="banner">
    <img src="static/images/productionbanner.jpg" alt="" />
 </section>
 
 <!--内页面包屑-->
 <!-- <div class="mbx">
   <div class="container">
     您当前的位置：
     <a href="index.html">首页</a> > 
     <a href="about.html">关于我们</a> > 
     <span>公司简介</span>
   </div>
 </div> -->
 <div class="ny">
		
  <div class="ptionshow">
    <div class="contacttit">
      <span>生产设备</span>
    </div>
    <div class="container">
      <div class="imgbox"><img src="static/images/ptionshow1.jpg" alt="" /></div>
      <div class="ptionshowtxt">
        <p>唯星成立于2005年，秉承"整合数字资源,技术驱动营销"的理念，专注于数字营销技术、产品、资源、服务的创新与整合，为传统企业互联网商业转型各个阶段提供全方位应用支撑。</p>
        <p>经过10余年的快速发展，唯星深刻理解未来数字营销内容与技术的融合之势，积极引进优秀的互联网技术、营销策略及内容创意专家，先后从IBM、微软、华为等知名IT企业引进大量优秀人才，目前公司逾千人规模，上海作为总部，同步辐射北京、深圳、香港、江浙、内蒙等全国分/子公司，目前已服务企业数量达上万家。</p>
        <p>经过10余年的快速发展，唯星深刻理解未来数字营销内容与技术的融合之势，积极引进优秀的互联网技术、营销策略及内容创意专家，先后从IBM、微软、华为等知名IT企业引进大量优秀人才，目前公司逾千人规模，上海作为总部，同步辐射北京、深圳、香港、江浙、内蒙等全国分/子公司，目前已服务企业数量达上万家。</p>
      </div>
      <!-- <div class="pre_next clearfix">
        <a class="pull-left pre" href="#">上一篇：无</a>
        <a class="pull-right next" href="#">下一篇：无</a>
      </div> -->
      <!--相关产品-->
        <!-- <div class="xgcp ption">
          <div class="xgcptit">
            <span>相关产品</span>
          </div>
          <ul class="clearfix">
            <li>
              <a href="produce_show.html"><img class="vcenter" src="static/images/ption1.jpg" alt="" /></a>
              <a href="produce_show.html" class="zzc">
                <span>橡胶生产设备</span>
                <p>蛋白质可以促进橡胶的硫化，延缓老化。另一方面，蛋白质有较强的吸水性... ...</p>
              </a>
            </li>
            <li>
              <a href="produce_show.html"><img class="vcenter" src="static/images/ption2.jpg" alt="" /></a>
              <a href="produce_show.html" class="zzc">
                <span>橡胶生产设备</span>
                <p>蛋白质可以促进橡胶的硫化，延缓老化。另一方面，蛋白质有较强的吸水性... ...</p>
              </a>
            </li>
            <li>
              <a href="produce_show.html"><img class="vcenter" src="static/images/ption3.jpg" alt="" /></a>
              <a href="produce_show.html" class="zzc">
                <span>橡胶生产设备</span>
                <p>蛋白质可以促进橡胶的硫化，延缓老化。另一方面，蛋白质有较强的吸水性... ...</p>
              </a>
            </li>
            <li>
              <a href="produce_show.html"><img class="vcenter" src="static/images/ption4.jpg" alt="" /></a>
              <a href="produce_show.html" class="zzc">
                <span>橡胶生产设备</span>
                <p>蛋白质可以促进橡胶的硫化，延缓老化。另一方面，蛋白质有较强的吸水性... ...</p>
              </a>
            </li>
            
          </ul>
        </div> -->
    </div>
  </div>
</div>

 
 

{% endblock %}