{% extends 'base.html' %}
{% block main %}
	<!--banner-->
	<section class="banner">
    <img src="static/images/productionbanner.jpg" alt="" />
 </section>

 <div class="ny">
		
  <div class="ption">
    <div class="contacttit">
      <span>{{columnTitle.device}}</span>
    </div>
    <div class="container">
      <ul>
          {% for item in list.data %}
        <li>
          <a href={{"produce_show.html?ID="+item.ID}}><img class="vcenter" src={{item.COVER}} alt="" /></a>
          <a href={{"produce_show.html?ID="+item.ID}} class="zzc">
            <span>{{item['TITLE_'+locale]}}</span>
            {{item['DIGEST_'+locale] | safe}}
          </a>
        </li>
        {% endfor %}
        
      </ul>
      {{pagination | safe}}
      
    </div>
  </div>
</div>

 
 

{% endblock %}